/**agarrar codigo principales inicio*/
*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#contenedor {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9d253+0,bf9109+95 */
    background: rgb(249,210,83); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,210,83,1) 0%, rgba(191,145,9,1) 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(249,210,83,1) 0%,rgba(191,145,9,1) 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(249,210,83,1) 0%,rgba(191,145,9,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9d253', endColorstr='#bf9109',GradientType=0 ); /* IE6-9 */
    padding:10px; /**relleno que le damos a la pagina**/
  
}

#portadacelu img{
    display:none;
}

#contenedor nav{
    text-align: center;
    margin-top: -6px;
    margin-right: 15%;
    list-style: none;

}
header img{

    width:70px;
    height:50px;
    float: left;
    padding: 2px;
    margin-top: 5px;
    margin-right: -5px;

}

h1{
    float: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    margin-left: 80px;
    

}
#contenedor a{
    font-family:unset;
    text-align: left;
    font-size: 25px;
    line-height:20px;
    margin: 15px 15px;
    text-decoration: none;
    color:black;
    
       
}

#contenedor a:hover{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fdedb9+0,f9dd89+95 */
    background: rgb(253,237,185); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(253,237,185,1) 0%, rgba(249,221,137,1) 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(253,237,185,1) 0%,rgba(249,221,137,1) 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(253,237,185,1) 0%,rgba(249,221,137,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdedb9', endColorstr='#f9dd89',GradientType=0 ); /* IE6-9 */
}
/**agarrar codigo principales fin*/

article{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7e89a4+8,5a6c98+81 */
    background: rgb(126,137,164); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(126,137,164,1) 8%, rgba(90,108,152,1) 81%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(126,137,164,1) 8%,rgba(90,108,152,1) 81%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(126,137,164,1) 8%,rgba(90,108,152,1) 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e89a4', endColorstr='#5a6c98',GradientType=0 ); /* IE6-9 */

}
#portadacelu img{
    width:0%;
    height:0%;
}

article img{
    width: 100%;
    height: 90%;
    display:block;
    margin:auto;
}

#seccion1 img{
    width: 300px;
    height: 260px;
    padding: 15px;
    margin: auto 5px;
    margin-bottom: -25px; /**movemos hacia abajo la caja(imagen)**/
    margin-left: -7px;
}

#contenidos h3{
    text-indent: 55px; /**espacio de sangria**/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:30px;
}


#contenidos p{
    text-indent: 55px; /**espacio de sangria**/
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}

#contenidos button{
    text-decoration: none;
    padding:6px;
    margin-left: 52px;
    border-radius: 5px;
    border-color: black;
}

#contenidos button:hover{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dad4b2+19,d0c99e+40,bfb781+95 */
    background: rgb(218,212,178); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(218,212,178,1) 19%, rgba(208,201,158,1) 40%, rgba(191,183,129,1) 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(218,212,178,1) 19%,rgba(208,201,158,1) 40%,rgba(191,183,129,1) 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(218,212,178,1) 19%,rgba(208,201,158,1) 40%,rgba(191,183,129,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dad4b2', endColorstr='#bfb781',GradientType=0 ); /* IE6-9 */

}

#seccion2 img{
    width: 220px;
    height: 200px;
    padding: 10px;
    margin: auto 35px;
}

#seccion3 img{
    width: 270px;
    height: 240px;
    padding: 10px;
    margin: auto 35px;
    margin-left: 10px;
    margin-bottom:-15px;
    
}

footer{
    max-width: 100%;
    min-height: 130px;
    background: #000;
    margin: 0 auto;
    padding: 30px;
    border:white 5px solid;
    border-radius: 5px;
    
}

footer p{

    font-family: arial;
    color:white;
    float: left;
    margin-left: 38%;
    
           
}

footer img{
    float: left;
    padding: 2px;
    margin-top: -20px;
    margin-right: -5px;

}

#insta img{
    width:150px;
    height:60px;
    margin-top: -105px;
    margin-left: 58px;


}

#face img{
    width:150px;
    height:60px;
    margin-top: -40px;
    margin-left: 58px;
}

#preg {
    font-family: inherit;
    font-size: 22px;
}

#contf{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;

}

@media screen and (max-width:600px){
    #contenedor nav a{
        font-size:15px;  
        position: relative;
        bottom:-3px;
    }
    
    article img{ /*La elimino*/
        width:0%;
        height:0%;
    }
    #portadacelu img{
        width:100%;
        height: 100%;
    }
    #contenidos img{
        width:250px;
        height:200px;
        margin:auto;
        margin-bottom:-20px
    }
    #contenidos h3{
        text-align: center;
        position:relative;
        left:-25px;
    }
    #contenidos p{
        
        font-family: Helvetica;
        text-indent: 0%;
        font-size: 20px;
        width:70%;
        height:100%;
        text-align: left;
        margin: 2px 5px; /**Posicionamos el texto**/
        padding: 0;
        position: relative;
        right:-70px;
        
    }
    #seccion2 img{
        margin-bottom: 5px;
        width:200px;
        height:180px;
    }

    #contenidos button{
        position:relative;
        left:22px;
        top:-15px;
    }
    #preg{
    
        font-size:15px;
        position: relative;
        left:-130px;
        top:-15px;

    }
    #contf p{
        font-size:15px;
        position: relative;
        left:-125px;
        top:-30px;

    }
    
    #insta img{
        height:50px;
        width:120px;
        position: relative;
        right:-150px;
        top:-35px;
    }

    #face img{
        height:50px;
        width:120px;
        position: relative;
        right:-150px;
        top:-45px;
    }

}